.note {
  position: absolute;
  background-color: #fef68a;
  box-shadow:
    0 4px 6px #373636,
    0 2px 4px gray;
  transition: transform 0.1s ease, box-shadow 0.2s ease;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.note:hover {
  box-shadow:
    0 6px 8px #373636,
    0 4px 6px gray;
  transform: translateY(-1px);
}

.note-content {
  flex: 1;
  padding: 16px;
}

.note-text {
  width: 100%;
  height: 100%;
  color: black;
  font-size: 14px;
}