.trash {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 120px;
    height: 120px;
    background: rgba(239, 68, 68, 0.1);
    backdrop-filter: blur(10px);
    border: 3px dashed #ef4444;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    z-index: 1;
}

.trash:hover {
    background: rgba(239, 68, 68, 0.15);
    transform: scale(1.05);
}

.trash.active {
    background: rgba(239, 68, 68, 0.3);
    border: 4px solid #f30909;
    /*transform: scale(1.15);*/
    box-shadow:
        0 0 30px #ED43437F,
        0 10px 40px #EF44444C;
    animation: shake 0.5s ease-in-out infinite;
}

@keyframes shake {
    0%,
    100% {
        transform: scale(1.15) rotate(0deg);
    }

    25% {
        transform: scale(1.15) rotate(-2deg);
    }

    75% {
        transform: scale(1.15) rotate(2deg);
    }
}

.trash-text {
    font-size: 11px;
    font-weight: 600;
    color: #ef4444;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
}

.trash.active .trash-text {
    color: #f30909;
    font-size: 12px;
}