.header-container {
    width: 100%;
    background-color: #4d6287;
    padding: 6px 16px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-btn {
    padding: 4px 4px;
    border-radius: 4px;
    border: #403e3e solid 1px;
    color: white;
    background-color: #2c4357;
}
.header-btn:active {
    background-color: #162430;
}