#root {

}

.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(135deg, #878080 0%, #83a7dc 100%);
  position: relative;
}

.canvas {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.canvas-adding {
  cursor: crosshair;
  opacity: 0.9;
}

.canvas-dragging, .canvas-over-trash {
  opacity: 0.8;
  cursor: move;
}

@media (min-width: 1024px) and (min-height: 768px) {
  .app {
    display: block;
  }

  .too-small {
    display: none;
  }
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
