#root {

}

.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(135deg, gray 0%, white 100%);
  position: relative;
}

.canvas {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.canvas-adding {
  cursor: crosshair;
  border: red 1px solid;
}

.canvas-dragging {
  border: blue 1px solid;
}

@media (min-width: 1024px) and (min-height: 768px) {
  .app {
    display: block;
  }

  .too-small {
    display: none;
  }
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
